.cta {
      
     padding: 20rem 0;
     padding-bottom: 30rem;
    &__container {
        
        
        text-align: center;

        p {
            font-size: 6rem;
            margin-bottom: 1rem; 
        }
    }

}